body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* Container styles */
#container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./textures/72.jpg'); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: background-color 0.01s;
    text-align: center;

    padding: 15px;
    color: rgb(255, 255, 255);
    font-family: cursive, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./textures/PXL_20240116_105904348.jpg'); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: background-color 0.01s;
    text-align: center;

    padding: 15px;
    color: rgb(255, 255, 255);
    font-family: cursive, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
#loading-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./textures/PXL_20240218_104533122.jpg'); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: background-color 0.01s;
    text-align: center;

    padding: 15px;
    color: rgb(0, 0, 0);
    font-family: cursive, sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
#loading-overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./textures/PXL_20240218_145414578.jpg'); /* Cambia 'ruta/de/tu/imagen.jpg' por la ruta de tu imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: background-color 0.01s;
    text-align: center;

    padding: 15px;
    color: rgb(0, 34, 254);
    font-family: cursive, sans-serif;
    font-size:50px;
    font-weight: bold;
    text-align: center;
}

/*.spinner {
    border: 8px solid rgba(255, 255, 255, 0.908);
    border-left-color: #000000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; 
    position: center;

}*/


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.text-overlay {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 10px; 
    color: rgb(255, 255, 255); 
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    font-weight: bold;
    text-align: center;
}

/*video*/

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:transparent;
    overflow: auto;
}

.close {
    color: #ffffff;
    position: absolute;
    top: 18px;
    right: 125px;
    font-size: 28px;
    font-weight: bold;
    z-index: 1001; 
}

.modal-content {
    background-color: transparent;
    position: relative;
    margin: 10% auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%;
    max-width: 600px;
    text-align: center;
    z-index: 1000; 
}

.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}


/*menu hamburguesa*/

/*menu hamburguesa*/

/* Estilos de hamb.css */
/* Off-screen menu */
.off-screen-menu {
    height: 68vh; 
    width: 100%;
    max-width: 114px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    transition: .3s ease;
    z-index: 10000;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul {
  list-style-type: none;
  padding: 0;
}

.off-screen-menu ul li {
    margin: 20px 0;
}

.off-screen-menu ul li img {
    width: 40px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
}

nav {
    padding: 1rem;
    display: flex;
}

.ham-menu {
    position: fixed;
    top: 20px;
    right: 20px; /* Ajustado a la esquina superior derecha */
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 50px;
    cursor: pointer;
    z-index: 10001; /* Asegura que el ícono esté por encima del menú */
}

.ham-menu span {
    height: 5px;
    width: 90%;
    background-color: #000000;
    border-radius: 25px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: rgb(0, 0, 0);
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Ajustes para hacer clic en el icono "X" */
.ham-menu span:nth-child(2) {
    pointer-events: none; /* Desactiva el evento clic en el segundo span */
}





